body{
    margin: 0;
}
.width-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
img{
    width: 80%;
}
.top-section-banner{
    background-image: url("images/header-bg.png");
    width:fit-content;
}
.mid-section-banner{
    background-image: url("images/biography-bg.png");
    width: fit-content;
}
.button-link{
    color: white;
   background-color: #ec4d84;
   border: 2px solid #ec4d84;
   border-radius: 5px;
   width: 120px;
   padding:10px;
}
section{
    height: 600px;
    
}
.padding-top{
    padding-top: 150px;
}
.width-oneThird{
    align-items: center;
    width: 33%;
    float: left;
}
.contact{
    height: 120px;
    text-align: center;
    margin: 100px;
    background-color:#ec4d84;
    border-radius: 5px;
}